# IntelliJ / Android Studio
*.iml
.idea

# Gradle / Kotlin
.gradle
.kotlin

# Local config
/local.properties
local.properties

# Build outputs
/build
**/build/
!src/**/build/

# Native / C++
.externalNativeBuild
.cxx

# Captures
/captures
captures

# macOS
.DS_Store

# Google Services
google-services.json

# Xcode / iOS
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Node
node_modules/

#Ai Context
.agents
.codex